*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
    background-color: rgb(240, 248, 255);
}
header{
    background: #D32323;
    margin-bottom: 1.5rem;
}


header>h1{
    padding-top: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    padding-bottom: 1rem;

}
.ancura-bemasoft{
    padding: 0 .5rem;
    margin-bottom: 5rem;
}

.ancura-bemasoft>li>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(23, 23, 24);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;


}
.ancura-bemasoft>li{
list-style-type: none;
padding: 1rem;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.137);
}
.ancura-bemasoft>li>a>img{
    padding: 5px;
}

.img-web{
    width: 50px;
    height: 50px;
}

.rodape-bemasoft{
    background: #00428E;

}

.rodape-bemasoft>address{
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 221px;
    display: flex;
    align-items: center;
    text-align: center;

}
